#main {
    height: 100%;
    layout: horizontal;
}

#sidebar {
    width: 20%;
    border: round white;
    padding: 1;
}

#main-content {
    width: 80%;
    padding: 2;
}

#form-title {
    margin-bottom: 1;
    text-style: bold;
}
